.login{
    width: 35%;
    height: 70%;
    padding: 8% 0 0;
    margin: auto;

}

.registrazione {
    width: 40%;
    height: 80%;
    padding: 8% 0 0;
    margin: 1% auto 5% auto;

}

.logo {
    position: relative;
    max-width: 55%;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}


.form {
    position: relative;
    background: #06051F;
    margin: 0 auto 100px;
    padding: 10px 45px 45px 45px;
    text-align: center;
    border-radius: 10%;

}

.form input, select {
    text-transform: uppercase;
    background: #add8e6;
    width: 85%;
    margin: 0 0 8px;
    padding: 20px;
    box-sizing: border-box; /* E' una proprietà CSS che permette di gestire il calcolo della larghezza e dell'altezza totale di un elemento, considerando anche i bordi e il padding.  */
    font-size: 20px;
    line-height: 25px;
    border-radius: 30px;    /* Arrotondare gli angoli di un elemento che sia foto/div ecc  50%= cerchio */
}



button {
    background: #00295b;
    width: 100%;
    padding: 15px;
    color: #ff3838;
    font-size: 30px;
    border-radius: 15px;
}

button:hover{
    color: white;
}

select {
    margin-bottom: 20px;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: #ff3838;
}

a:hover {
    color: white;
}

#errore{
    margin: 3% auto 3% auto;
    color: #ff3838;
    font-size: 40px;
}

@media screen and (max-width: 1200px){
    .login, .registrazione{
        width: 60%;
    }
}

@media screen and (max-width: 800px){
    .login, .registrazione{
        width: 90%;
    }
}
