@font-face {
    font-family: 'impostographregular';
    src: url('/Fonts/impostograph-regular-webfont.woff2') format('woff2'),
    url('/Fonts/impostograph-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #003C82;
    font-family: 'Impostograph', monospace;
}

.login, .registrazione {
    width: 35%;
    height: 70%;
    padding: 8% 0 0;
    margin: auto;
}

.logo{
    position: relative;
    max-width: 55%;
    border-radius: 6%;
    margin-bottom: 15px;
    margin-top: 15px;
}



.form {
    position: relative;
    z-index: 1;
    background: #06051F;
    margin: 0 auto 100px;
    padding: 10px 45px 45px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input, select {
    font-family: 'Impostograph', monospace;
    font-weight: bold;
    outline: 0;
    background: #add8e6;
    width: 85%;
    border: 0;
    margin: 0 0 8px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 25px;
    border-radius: 30px;

}

select{
    margin-bottom: 20px;
}

.form button {
    font-family: 'Impostograph', monospace;
    font-weight: bold;
    text-transform: uppercase;
    outline: 0;
    background: #003C82;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 24px;
}


.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: #ff3838;
}


