@media screen and (max-width: 1180px){
    p, input{
        display:block;
    }
}

.carrello {
    width: 35%;
    height: 70%;
    padding: 5% 0 0;
    margin: auto;
}

.logo {
    max-width: 55%;
    border-radius: 6%;
    margin-bottom: 10%;
    margin-top: 15px;
}


.listaProdotti {
    position: relative;  /* è utile per spostare un elemento all'interno del suo contenitore senza influenzare il layout degli altri elementi. top, right, bottom e left*/
    float: left;
    z-index: 1;          /* Layer pagina web */
    background: #06051F;
    margin: 0 auto 100px;
    padding: 10px 45px 45px 45px;
    font-size: 30px;
    border-radius: 10%;
}

p {
    display: inline-block; /* è utilizzata per rendere un elemento sia inline e un elemento block. Con questa proprietà, l'elemento viene visualizzato nello stesso
                              flusso del testo (come un elemento inline), ma è possibile specificare larghezza, altezza e margini (come un elemento block).     */
    color: #ff3838;
}

#totale {
    font-size: 45px;
    margin: 7% auto auto auto;
    color: #ff3838;
}

#rimuovi {
    background: #00295b;
    color: #ff3838;
    font-size: 13px;
    border-radius: 15px;
    text-align: center;
    padding: 1%;
    float: right;
}

#rimuovi:hover {
    color: white;
}

#acquista {
    text-transform: uppercase;
    background: #00295b;
    width: 100%;
    padding: 15px;
    color: #ff3838;
    font-size: 24px;
    border-radius: 15px;
}

#acquista:hover {
    color: white;
}

h1{
    color:white;
}

@media screen and (max-width: 1200px){
    .carrello{
        width: 60%;
    }
}

@media screen and (max-width: 800px){
    .carrello{
        width: 90%;
    }
}



