/*    CSS Comune    */

@font-face {
    font-family: 'impostographregular';
    src: url('Fonts/impostograph-regular-webfont.woff2') format('woff2'),
    url('Fonts/impostograph-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-weight: bold;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'impostographregular', 'sans-serif';
    cursor: url("/images/cursore.png"), auto;
}

body{
    background-image: url("../images/sfondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
}

a{
    text-decoration: none;
    color: white;
}

a:visited, a:link, a:active{
    text-decoration: none;
    font-weight: bold;
    color: #ff3838;
}

/*--------------------------------------------------------------------------------------------------------------------*/



