body {
    display: grid;
}

.footer {
    margin-top: 5%;
    padding-block: 20px 10px;
    background-color: #151515;
}

.contenitoreFooter {
    max-width: 1160px;
    margin: auto;
    padding: 0 15px;
}

.footerTop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /*    1fr è un unità di misura del grid layout e indica 1 parte dello spazio disponibile (fr=fractional unit)    */
    row-gap: 20px;   /*    distanza tra le colonne di un grid layout */
    margin-bottom: 10px;
}

.footerTitolo {
    font-size: 35px;
    color: white;
    margin-bottom: 20px;
}

.listaFooter {
    display: flex;  /*  trasforma un elemento in un container flessibile. Gli oggetti all'interno possono essere disposti in modo orizzontale o verticale,
                        a seconda dell'orientamento specificato con la proprietà flex-direction..*/
    flex-direction: column;
    gap: 20px;
}

.linea {
    margin-block: 25px;
    border: none;
    border-top: 1px solid rgba(252, 255, 255, 0.1);
}

.footerBottom {
    margin-top: 1%;
    color: white;
    display: flex;
    justify-content: space-between;  /*  Viene utilizzata per allineare gli elementi lungo l'asse principale di un contenitore flexbox. Nel caso specifico "space-between"
                                         indica che gli elementi figli all'interno del contenitore flessibile devono essere distribuiti uniformemente lungo l'asse principale,
                                         con uno spazio vuoto tra di essi. */
    gap: 20px;
    flex-wrap: wrap;                 /*  Questo valore fa sì che gli elementi figli vengano avvolti (wrapping) su righe o colonne aggiuntive quando il contenitore flessibile
                                         non ha abbastanza spazio per contenerli tutti in una singola riga o colonna. In altre parole, gli elementi vengono "spostati" su una
                                         nuova riga o colonna per evitare sovrapposizioni o ridimensionamenti eccessivi */
}

.testoFooter{
    border: none;
    background: none;
    padding: 2px;
    font-size: 20px;
    color: #ff3838;
    display: block;
}
.testoFooter:hover{
    color: white;
}



