body {
    padding: 5px;
    font-size: 35px;
}

.barra {
    display: grid;      /* Viene utilizzata per creare un container di tipo griglia, ovvero un contenitore flessibile che permette di organizzare gli elementi al suo interno in una griglia bidimensionale. */
    grid-template-columns: 8% 10% 33% 0 14% 25% 10%; /* Menù laterale / Logo / Barra di ricerca  / Sezione vuota  / Benvenuto nome utente o Accedi Registrati / Mostra Profilo , Visualizza acquisti passati , Carrello , Log Out  / Sezione vuota*/
    grid-template-rows: auto;
    background-color: #151515;
}

/*    Header Sidenav    */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #151515;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#menu {
    font-size: 60px;
    float: left;
    color: white;
    width: auto;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;  /* Togli gli effetti di base dei link ad esempio hover, visited ecc  */
    font-size: 40px;
    color: #ff3838;
    display: block;  /* Display: block; trasforma un elemento in un blocco di livello. Gli elementi di blocco  vengono visualizzati su una nuova riga e occupano l'intera larghezza
                        disponibile del loro contenitore. Vengono ignorati eventuali tentativi di impostare larghezza e altezza tramite le proprietà width e height. La larghezza viene
                         automaticamente impostata al 100% del contenitore padre. Gli elementi di blocco consentono l'utilizzo di altre proprietà di layout come margin, padding e border.
                     */
}

.sidenav a:hover {
    color: white;
}

.sidenav input {
    padding: 8px 8px 8px 32px;
    border: none;
    background: none;
    font-size: 40px;
    color: #ff3838;
    display: block;
}

.submit:hover {
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
}


/*--------------------------------------------------------------------------------------------------------------------*/

/*    Logo    */

#logo {
    border-radius: 10%;
    width: 80%;
    margin: auto;
}

/*--------------------------------------------------------------------------------------------------------------------*/


/*    Search bar    */

#searchbar {
    margin: 25px auto 10px auto;
    float: left;
    width: 350px;
    height: 50px;
    background-color: lightblue;
    border-radius: 25px;
}

#searchbar input[type="text"] {
    margin: 12px 2px 8px 10px;
    font-size: 35px;
    border: none;
    outline: none;
    width: 80%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0);
    letter-spacing: 1.5px;  /* Spazio tra i caratteri */
}

#searchbar #cerca {
    float: right;
    margin: 7px 3px 3px 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

#searchbar {
    width: 400px;
}

#cercaForm {
    display: flex;
}

#cercaInput {
    flex: 1; /* E'utilizzato per far sì che un elemento flessibile si espanda e si contragga in modo dinamico all'interno del flex container, occupando tutto lo spazio disponibile*/
}

/*--------------------------------------------------------------------------------------------------------------------*/


/*    Search bar    */

.nomeUtenteAccediRegistrati {
    margin: 17% auto 13% auto;
}

#nomeUtente, #nomeUtenteAccediRegistrati a {
    color: #ff3838;
    font-size: 30px;
    margin: auto;
}


#nomeUtenteAccediRegistrati a:hover {
    color: white;
}

#accountHeader {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    margin: 3% 0 7% 0;
    padding: 2%;
    height: 60%;
    background-color: #FFFFFF;
    border-radius: 12px;
}

#accountHeader button {
    background: none;
    border: none;
}

#accountHeader img {
    width: 65%;
    margin: auto;
}

#mostraProfiloHeader a {
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .barra {
        grid-template-columns: 15% 20% 65%; /* Menù laterale / Logo / Barra di ricerca / Benvenuto nome utente o Accedi Registrati / Mostra Profilo , Visualizza acquisti passati , Carrello , Log Out  / Sezione vuota*/
        grid-template-rows: auto auto;
    }
}

@media screen and (max-width: 600px) {
    #searchbar {
        width: 250px;
    }
}


