body{
    overflow: hidden;
    padding: 5px;
    position:fixed;
    font-size: 35px;
}

.barra{
    display: grid;
    grid-template-columns: 8% 10% 33% 14% 25% 10%;  /* Menù laterale / Logo / Barra di ricerca / Benvenuto nome utente o Accedi Registrati / Mostra Profilo , Visualizza acquisti passati , Carrello , Log Out  / Sezione vuota*/
    grid-template-rows: auto;
    background-color: #151515;
}

#menu{
    float:left;
    color: white;
    width: auto;
}

#logo {
    float: left;
    border-radius: 10%;
    width: 80%;
    padding: 2%;
    margin: auto;
}

#searchbar{
    margin: 25px auto 10px 40%;
    float: left;
    width: 350px;
    height: 50px;
    background-color: lightblue;
    border-radius: 25px;
}

#searchbar input[type="text"] {
    margin: 12px 2px 8px 10px;
    font-size: 35px;
    border: none;
    outline: none;
    width: 80%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0);
    letter-spacing: 1.5px;
}

#searchbar #cerca{
    float: right;
    margin: 7px 3px 3px 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

#nomeUtente, #accediRegistrati{
    margin: 17% 20% 13% auto;
    float: right;
    color: #ff3838;
    font-size: 30px;
}

#accediRegistrati a:hover {
    color: white;
}

#accountHeader{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    margin: 3% 0 7% 0;
    padding: 2%;
    height: 60%;
    background-color: #FFFFFF;
    border-radius: 12px;
}

#accountHeader button{
    background: none;
    border: none;
}

#accountHeader img{
    width: 65%;
    margin: auto;
}

#mostraProfiloHeader a{
    margin:auto;
}





