#searchbar, #account{
    height: 90px;
    background-color: black;
    padding-left: 50px;
    padding-top: 32px;
}
#welcome{
    float:left;
    padding-right: 35px;
}
h1 {
    color: white;
    font-size: 25px;
}