header{
    background-color: #151515;
    overflow: hidden;
    padding: 5px;
    position:fixed;
    font-size: 35px;
}




header a:hover {
    color: white;
}

#logo {
    float: left;
    border-radius: 10%;
    height: 7%;
    width: 7%;
    padding: 2px;
}

.header input[type="text"] {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    width: 200px;
}



#menu{
    font-size:60px;
    cursor:pointer;
    float:left;
    height: 15%;
    width: 15%;
}

#account {
    padding-left: 75px;
    color:black;
}

#searchbar{
    padding-left: 325px;
}

#searchbar, #account {
    float:left;
    height: 90px;
    padding-top: 12px;
}

h1 {
    color: white;
    font-size: 25px;
}

