.contenitoreInfoContatti {
    width: 35%;
    height: 70%;
    padding: 8% 0 0;
    margin: auto;

}

.logo {
    position: relative;
    max-width: 55%;
    border-radius: 6%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.info, .contatti {
    position: relative;
    z-index: 1;
    background: #06051F;
    margin: 0 auto 100px;
    padding: 10px 45px 45px 45px;
    text-align: center;
    border-radius: 10%;
}

.info h1, .contatti h1{
    color: #ff3838;
    margin: 8% auto 4% auto;
    font-size: 45px;
}

.info p{
    color: white;
    font-size: 27px;
    letter-spacing: 2px;
    line-height: 140%;

}

textarea{
    background-color: lightblue;
    margin: auto auto 5% auto;
    padding: 5%;
    font-size: 35px;
    border-radius: 12px;
}

button {
    font-weight: bold;
    text-transform: uppercase;
    background: #00295b;
    width: 100%;
    padding: 15px;
    color: #ff3838;
    font-size: 24px;
    border-radius: 15px;
}

button:hover{
    color: white;
}

a {
    text-decoration: none;
    color: #ff3838;
}


