main{
    width: 80%;
    height: 95%;

    margin:auto;

}

.prodotti {
    width: 35%;
    height: 70%;
    margin: auto;
}


.displayProdotti {
    z-index: 1;
    background: #06051F;
    margin: 0 auto 100px auto;
    padding: 20px 55px;
    border-radius: 15px;
}


.prodottoSingolo {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    margin: auto;
    padding: 4% 4%;
    border-radius: 12px;
}


#immagine {
    margin: auto;
    float: left;
}


#immagine img {
    width: 90%;
    margin: auto;
}


.infoProdotto {
    width: 100%;
    float: right;
    background-color: rgba(255, 255, 255, 0.67);
    color: #fff;
    margin: 30% 10px 4% 10px;
    padding: 0 5%;
    border-radius: 12%;
}


.prodottoFooter {
    position: relative;     /* Viene utilizzata per posizionare un elemento in base alla sua posizione originale all'interno del flusso del documento. Quando si applica
                              position: relative; a un elemento, è possibile spostarlo rispetto alla sua posizione normale utilizzando le proprietà top, right, bottom e left
                            */
    width: 100%;
    margin-top: 30%;
}


.prodottoFooter, .prodottoFooter #prezzo, .prodottoFooter{
    display: inline-block;
}

.prodottoFooter img{
    float: right;
}

.prodottoFooter img:hover {
    border-radius: 50%;
    background: rgba(255, 56, 56, 0.62);
}


#nome, #espansione, #prezzo {
    color: #ff3838;
    margin-bottom: 3px;
}


#nome, #espansione {
    margin-top: 15%;
}


#nome {
    font-size: 30px;
}

#espansione {
    font-size: 17px;
}


#prezzo {
    font-size: 22px;
}

.displayProdotti #nessunRisultato, .displayProdotti #ricerca{
    display: inline-block;
    font-size: 40px;
}

#nessunRisultato {
    margin: 2% auto 3% auto;
    color: white;

}
#ricerca{
    color: #ff3838;
    margin: auto;
}

@media screen and (max-width: 1200px){
    .prodotti{
        width: 60%;
    }
    #immagine img {
        width: 70%;
        margin: auto;
    }
}

@media screen and (max-width: 800px){
    .prodotti{
        width: 90%;
    }
}
