@media (max-width: 920px) {
    .prodotto-card {
        flex: 1 21%;
    }
}

.prodotto .prodotto-card:first-child,
.prodotto .prodotto-card:nth-child(2) {
    flex: 2 46%;
}

@media (max-width: 600px) {
    .prodotto-card {
        flex: 1 46%;
    }
}

h1 {
    flex-grow: 1;
}


.prodotti {
    display: inline-block;
    flex-wrap: wrap;
}

.prodotti-card {
    padding: 1%;
    flex-grow: 1;
    flex-basis: 16%;
    background-color: lightblue;


    display: flex; /* so child elements can use flexbox stuff too! */
}

.prodotti-image img {
    max-width: 100%;
    border-collapse: collapse;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.prodotti-info {
    margin-top: auto;
}












