.contenitoreOrdini {
    width: 50%;
    height: 70%;
    padding: 5% 0 5% 0;
    margin: auto;
}

.ordini {
    position: relative; /* Viene utilizzata per posizionare un elemento in base alla sua posizione originale all'interno del flusso del documento. Quando si applica
                              position: relative; a un elemento, è possibile spostarlo rispetto alla sua posizione normale utilizzando le proprietà top, right, bottom e left
                        */
    background: #06051F;
    margin: 0 auto 100px;
    padding: 10px 45px 45px 45px;
    font-size: 30px;
    border-radius: 20px;
}

#ordineSingolo {
    color: #ff3838;
    padding-bottom: 3%;
}

#idOrdine{
    font-size: 50px;
    margin: 2% auto 2% auto;
}

#data, #prezzo {
    font-size: 35px;
    padding-bottom: 2%;
}

#oggettoListaAcquisto{
    font-size: 25px;
    color: white;
}
@media screen and (max-width: 1200px){
    .contenitoreOrdini{
        width: 60%;
    }
}

@media screen and (max-width: 800px){
    .contenitoreOrdini{
        width: 90%;
    }
}




