@font-face {
    font-family: 'impostographregular';
    src: url('Fonts/impostograph-regular-webfont.woff2') format('woff2'),
    url('Fonts/impostograph-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body{
    font-family: impostographregular, sans-serif;
}

.prodottoSingolo {
    padding: 1%;
    display:inline-block;;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: impostographregular, sans-serif;
}

.prodottoSingolo .carrello {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.prodottoSingolo .carrello:hover {
    opacity: 0.7;
}

h1{
    font-weight: bold;
}

.fotoProdotto img {
    width: 100%;
}















/*
.prodotti {
    display: flex;
    flex-wrap: wrap;

}
.prodottoSingolo  {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
    background-color: lightblue;
    border-collapse: collapse;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.fotoProdotto img {
    max-width: 100%;
}

.infoProdotto {
    margin-top: auto;
}

#nome{
    font-size: 30px;
    font-weight: bold;
}
*/