@font-face {
    font-family: 'impostographregular';
    src: url('Fonts/impostograph-regular-webfont.woff2') format('woff2'),
    url('Fonts/impostograph-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("/images/sfondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-family: impostographregular, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#nome{
    font-size: 50px;
    font-weight: bold;
}

#espansione{
    font-size: 20px;
    font-weight: bold;
    padding: 5px 5px 15px;
}

.fotoProdotto img {
    width: 80%;
    padding: 2% 5% 10% 5%;
    text-align: center;
}

.infoProdotto {
    margin-top: auto;
}

.prodottoSingolo {
    box-shadow: 0 4px 8px 0 rgba(89, 124, 255, 0.2);
    width: 20%;
    margin: auto;
    text-align: center;
    font-family: impostographregular, sans-serif;
    display: inline-block;

    background-color: lightblue;
    border-collapse: collapse;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}


/*
.prodotti{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.prodottoSingolo  {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
    background-color: lightblue;
    border-collapse: collapse;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

*/