* {
    font-weight: bold;
}


.prodotti {
    width: 35%;
    height: 70%;
    padding: 8% 0 0;
    margin: auto;
}


.displayProdotti {
    z-index: 1;
    background: #06051F;
    margin: 0 auto 100px;
    padding: 20px 55px;
    float: left;
    border-radius: 15px;
}


.prodottoSingolo {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
    margin: auto;
    padding: 4% 4%;
    border-radius: 12px;
}


#immagine {
    margin: auto;
    float: left;
}


#immagine img {
    max-width: 95%;
    margin: auto;
}


.infoProdotto {
    max-width: 100%;
    float: right;
    background-color: rgba(255, 255, 255, 0.67);
    color: #fff;
    margin: 30% 10px 4% 10px;
    padding: 0 5%;
    border-radius: 12%;
}


.prodottoFooter {
    position: relative;
    width: 100%;
    margin-top: 30%;
}


.prodottoFooter, .prodottoFooter #prezzo, .prodottoFooter #carrello {
    display: inline-block;
}


#nome, #espansione, #prezzo {
    color: #ff3838;
}


#nome, #espansione {
    margin-top: 15%;
}


#nome {
    font-size: 30px;
}


#espansione {
    font-size: 17px;
}


#prezzo {
    font-size: 22px;
}


#carrello {
    width: 32px;
    height: 32px;
    position: absolute;
    padding: 10% 15% 0 30%;
    bottom: 0;
    right: 0;
}


#carrello img:hover {

    background-color: rgba(255, 0, 0, 0.44);
    border-radius: 3px;
}
